* {
    margin: 0;
    padding: 0;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

  }

.header {
    background-color: white;
    grid-column: 2 / 4;
    display: grid;
    box-shadow: 0 10px 6px -6px #9b9b9b;
  }

.header-top {
    display: flex;
    align-items: center;
    margin: 20px 40px;
    gap: 20px;
}

.welcome {
    display: flex;
    align-items: end;
    gap: 10px;
}

.header-btns {
    display: flex;
    align-items: end;
}

#search-bar {
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
    border-style: none;
    height: 25px;
    flex: 1;
}

.header-btm {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

button {
    background-color: rgb(25, 129, 164);
    color: white;
    border-radius: 20px;
    border-style: none;
    padding: 8px 25px;
    margin: 0px 10px;
}
.sidebar {
    background-color: rgb(25, 129, 164);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    padding: 20px;
    grid-template-rows: 1fr 3fr 3fr;
  }

ul {
    list-style: none;
}
li {
    display: flex;
    padding: 10px;
    font-size: 20px;
}

li > img {
    margin-top: -5px;
    margin-right: 15px;
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
            filter: invert(100%);
}
.projects-section {
    padding: 15px;
    background-color: rgb(241, 241, 241);
}

.projects-section h2 {
    margin: 20px 0px;


}
.projects {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;

}

.card {
    background-color: white;
    text-align: left;
    border-radius: 10px;
    border-left: 5px rgb(255, 234, 0) solid;
    display: grid;
    padding: 15px 30px;
    box-shadow: 0 10px 6px -6px #9b9b9b;
}

.card-icons {
    justify-self: right;
    align-self: end;
}
.right-content {
    background-color: rgb(241, 241, 241);
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 15px 15px 15px 0px;
    gap: 15px;
    
}


.announce-section h2 {
    margin: 20px 0px;
}

.announcements {
    background-color: white;
    grid-row: 1 / 2;
    display: grid;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 10px 6px -6px #9b9b9b;


}
.headline {
    padding-bottom: 15px;
}

.trending-section h2 {
    margin: 20px 0px;
}
.trending {
    background-color: white;
    grid-row: 2 / 3;
    display: grid;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 10px 6px -6px #9b9b9b;


}
img[src$='.svg']{
    width: 25px;
}
img[src$='.png']{
    width: 50px;
}

.welcome > img {
    width: 75px;
}

.logo {
    font-size: 35px;
    padding: 10px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

.trend {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-items: start;
    align-items: center;
}

